form {
    background-color: #9b9494;
    color: #222020f8;
    padding: 5px;
    display: flex;
    flex-direction: column; /* Lägg till för att ändra layout till kolumn */
    align-items: left; /* Centrera innehållet vertikalt */
    border-bottom: 1px solid black;
  }